$color : #ee5253;
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #fff;
$nav-font-color: #636e72;
$nav-a-hover : #B53471;
$link-hover-color: #B53471;
$footer-bg : #33383c;
$bg-main-end-color:#ecf0f1;
$tags-one:#27ae60;