
.line-cart{
    color: #353b48;
    text-decoration: none;
}
h2{
    text-align: center;
}
.cart{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10vh;
    &__name{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    &__qte {
        background-color: #f5f6fa;
        padding: 2vh;

        &--price{
            font-family: 'Courier New', Courier, monospace;
        }
        &--input{
            height: 3vh;
            width: 10vh;
            border-radius: 0;
            background-color: #f5f6fa;
            border-color: #f5f6fa;
            text-align: center;
            &:focus{
                outline: 2px solid $color2;
       
        }
    }
}
        &__pricexqte{
            font-weight: bold;
            color: rebeccapurple;
        }
        
       
    

}
.Form{
    margin: 10vh;
    padding-bottom: 5vh;
    background-color: #ffffff;
    input{
        border-radius: 0;
        margin: 2vh;
        &:focus{
            outline: 2px solid $color2;
  
        }
        
         
    }
   
    &__personal{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2vh;
    }
    &__others{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2vh;
       

    }
    &__notes{
        display: flex;
        justify-content: center;
       
    
}
}
.Total{
    display: flex;
    justify-content: space-around;
     margin-bottom: 10vh;
    &__price{
        font-size: 3vh;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    button{
        background-color: #fff;
        border: 3px solid;
        padding: 2vh 8vh 2vh 8vh;
        border-color: rebeccapurple;
        border-radius: 1vh;
        color: rebeccapurple;
        font-weight: bold;
    }
}